<footer>
    <nav class="footer">
        <a href="@Url.Action("defaultPages","Home", new { nazwa = "aboutUs" })" style="">O nas</a>
        <a href="@Url.Action("defaultPages","Home", new { nazwa = "comunity" })" style="">Spolecznosc</a>
        <a href="@Url.Action("defaultPages","Home", new { nazwa = "opinions" })" style="">Opinie</a>
        <a href="@Url.Action("defaultPages","Home", new { nazwa = "help" })" style="">Pomoc</a>
        <a href="@Url.Action("defaultPages","Home", new { nazwa = "regulations" })" style="">Regulamin</a>
        <a href="@Url.Action("defaultPages","Home", new { nazwa = "contact" })" style="">Kontakt</a>
    </nav>
</footer>
