@{ 
    ViewData["Stylesheet"] = "/Content/themes/StylesPackage.css";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projekt</title>
    <link rel="stylesheet" href=@ViewData["Stylesheet"] />
</head>
<body>
    <div class="menu">
            @Html.ActionLink("Strona główna", "Index", "Home",null,new { @class = "MenuLink" })
            @Html.ActionLink("Lista produktów","Index", "Items",null,new { @class = "MenuLink" })
            @Html.ActionLink("Koszyk","Index","ShopCart",null,new { @class = "MenuLink" })
        <div class="log">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="main-site">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
   @Html.Partial("_footerPartial")
</body>
</html>
